@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right ,#41BFB3, #9BF2EA);
}

main {
  background-color: white;
  width: 500px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #2A8C82;
}

h1 {
  text-align: center;
  color: #2A8C82;
  text-shadow: 1px 1px 5px #50ffee7e;
}

h2 {
  color: #112723;
}

p {
  text-align: justify;

}